*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-orang{
    background-color: orange;
}


/* carousel */
.carousel-indicators button{
    height: 6px !important;
    width: 50px !important; 
    margin: 0px 8px !important;
}
.carousel-item .text-box{
    position: absolute;
    top: 50px;
    left: 70px;
    color: #FFF;
}
.carousel-item .text-box span{
    font-size: 1.14286rem;
    text-transform: uppercase;
}
.carousel-item .text-box h2{
    font-size: 4rem;
}
.carousel-item .text-box button{
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px 50px;
    border: none;
    color: #01b4fa;
    background: #fff;
    box-shadow: 0 0 0 0.28571rem hsl(0deg 0% 100% / 30%)
}
/* end */

.galary .col-md-3,
.galary .col-md-6,
.galary .col-md-12{
padding: 0;
}
.img-galary .discount{
    font-size: 100px;
    font-weight: bold;
    -webkit-text-stroke: 2px #FFF; /* width and color */
    font-family: sans; color: #01b4fa;
}
.laptops{
    position: relative;
}
.laptops p{
    position: absolute;
    font-size: 2.14286rem;
    text-transform: uppercase;
    color: #FFF;
    top: 60px;
    left: 40px;
    font-weight: 600;
}
.audio-deal{
    position: relative;
}
.audio-deal .deal-box{
    position: absolute;
    top: 70px;
    left: 35px;
}
.deal-box h2{
    font-size: 3.21429rem;
}
.deal-box p{
    font-size: 1.42857rem;
    margin-bottom: 1.42857rem;
    color: #9ea2a9;
}
.deal-box button{
    border-radius: 25px;
    padding: 10px 25px;
    background: #01b4fa;
    border: none;
    color: #fff;
    box-shadow: 0 0 0 0.28571rem rgb(1 180 250 / 30%)
}
.smartphones{
    position: relative;
}
.smart-phones-box{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}
.smart-phones-box h4{
    font: 600 2.57143 rem;
    text-transform: uppercase;
    padding: 1.07143rem 2.14286rem 0.5rem;
    border-radius: 1.85714rem;
    color: #fff;
    background-color: #01b4fa;
    width: fit-content;
    margin: 30px auto 15px;
}
.whats-new{
    position: relative;
}
.evaluation-text{
    position: absolute;
    top: 20%;
    right: 13%;
    color: #FFF;
    text-align: end;
}
.evaluation-text p{
    font-size: 1.42857rem;
}
.evaluation-text h4{
    text-transform: uppercase;
    font-size: 3.57143rem;
    
}
.evaluation-text button{
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px 66px;
    border: none;
    color: #01b4fa;
    background: #fff;
    box-shadow: 0 0 0 0.28571rem hsl(0deg 0% 100% / 30%)
}